<main class="main">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button color="primary" (click)="toggleDiv('home')">Bcs
        Bees</button>&nbsp;&nbsp;&nbsp;
      <button mat-button color="primary" [matMenuTriggerFor]="tob">Types Of
        Bees</button>&nbsp;&nbsp;&nbsp;
      <button mat-button color="primary" [matMenuTriggerFor]="pad">Pests And
        Diseases</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #tob="matMenu">
    <button mat-menu-item (click)="toggleDiv('queen')">
      <span>Queen</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('worker')">
      <span>Worker</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('drone')">
      <span>Drone</span>
    </button>
  </mat-menu>
  <mat-menu #pad="matMenu">
    <button mat-menu-item (click)="toggleDiv('afb')">
      <span>American Foul Brood</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('efb')">
      <span>European Foul Brood</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('cb')">
      <span>Chalkbrood</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('sb')">
      <span>Stonebrood</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('vm')">
      <span>Varroa Mites</span>
    </button>
    <button mat-menu-item (click)="toggleDiv('no')">
      <span>Nosema</span>
    </button>
  </mat-menu>
  <div id="home" *ngIf="isDivVisible('home')">
    <h2>About</h2>
    <p>Hello, we are the BCS Bees, a group of fifth and sixth graders from
      Birmingham Covington School. For several years, we have been trying to
      raise awareness and share knowledge of the problems honey bees are
      having.</p>
    <p>Bees are having a hard time surviving because of diseases like American
      Foul Brood and Colony Collapse Disorder. Also, parasites have become a big
      problem like Varoa mites which help spread disease.</p>
    <p>Because of pollution and high pesticide use, people are already starting
      to hand pollinate in some parts of China.</p>
    <p>Bees are really importent because they pollinate 2/3 of our food chain.
      Like in the "Bee Movie" when they stopped pollinating there were no fruits
      and plants.</p>
    <p>The Bees are real important! We have been doing many things to help bees
      such as creating bee boxes and hives all made by students. We have
      multiple groups full of students helping our cause. From groups to make
      hives to groups that make bee merchandise. There are two types of groups
      research and action. Action works on going out and helping bees like
      making boxes.</p>
  </div>
  <div id="queen" *ngIf="isDivVisible('queen')">
    <h2>Queen</h2>
    <p>The queen is a lucky single honeybee. They hatch from fertilized eggs and
      feed on royal jelly as a larva and continue to feed on it for their entire
      life time.</p>
    <table>
      <tr>
        <th>Type</th>
        <th>Egg</th>
        <th>Larva</th>
        <th>Cell Capped</th>
        <th>Pupa</th>
        <th>Developmental Period</th>
        <th>Start of Fertility</th>
        <th>Size</th>
        <th>Hatching Weight</th>
      </tr>
      <tr>
        <th>Queen</th>
        <th>3 Days</th>
        <th>8 1/2 Days</th>
        <th>7 1/2 Days</th>
        <th>8 Days</th>
        <th>16 days</th>
        <th>23 days and up</th>
        <th>18-22mm</th>
        <th>nearly 200mg</th>
      </tr>
    </table>
    <p>Queens either are killed by other queens or go off in a swarm.</p>
    <p>Queens are identified by their significantly larger abdomens. Beekeepers,
      however, usually mark their bees with the chart below.</p>
    <p>Color codes for queen marking:</p>
    <table>
      <tr>
        <th>Color</th>
        <th>Year ends in</th>
      </tr>
      <tr>
        <th>White</th>
        <th>1 or 6</th>
      </tr>
      <tr>
        <th>Yellow</th>
        <th>2 or 7</th>
      </tr>
      <tr>
        <th>Red</th>
        <th>3 or 8</th>
      </tr>
      <tr>
        <th>Green</th>
        <th>4 or 9</th>
      </tr>
      <tr>
        <th>Blue</th>
        <th>5 or 0</th>
      </tr>
    </table>
    <p>The queen's main function is to lay eggs for the hive. The queen is the
      mother to most, if not all, the bees in the hive.</p>
  </div>
  <div id="worker" *ngIf="isDivVisible('worker')">
    <h2>Worker Bee</h2>
    <h2>Eggs</h2>
    <p>This is the first stage of the honey bee. The honeybee will stay in this
      stage for up to three days. During this stage its food source will be
      something called Bee Bread, which is a mixture of pollen, honey and a
      secretion from the brood nurses, worker bees that tend to the hatching
      bees. During this stage it weighs about 100 mg. They will also ingest a
      incredibly small amount of royal jelly. The Bee Bread will weigh about
      0.1mgs per serving.</p>
    <h2>Larva</h2>
    <p>This is the second stage of the honey bee. The honeybee will be in this
      stage for up to six days. Its food source will be Only Bee Bread now, with
      no royal jelly.</p>
    <img src="1.jpg" style="width:600px;height:500px;">
    <h2>Pupa</h2>
    <p>This is the third stage of the honeybee. The honey bee will stay in this
      stage for 10 day and weighs about 80 milligram. Its food source is
      pollen.</p>
    <img src="2.jpg">
    <h2>Adult</h2>
    <p>This is the final stage of the honey bee. The honeybee is 1.6 mm long and
      weighs 120 mg. It takes 21 day to reach this stage. Its food source is
      honey and ends its life by working itself to death.</p>
    <img src="3.jpg" style="width:600px;height:500px;">
  </div>
  <div id="drone" *ngIf="isDivVisible('drone')">
    <h2>Drones</h2>
    <p>Drones are male honeybees. They develop from eggs that have not been
      fertilized, and they cannot sting, since the worker bee's stinger is a
      modified ovipositor.</p>

    <table>
      <tr>
        <th>Type</th>
        <th>Egg</th>
        <th>Larva</th>
        <th>Cell Capped</th>
        <th>Pupa</th>
        <th>Developmental Period</th>
        <th>Start of Fertility</th>
        <th>Size</th>
        <th>Hatching Weight</th>
      </tr>
      <tr>
        <th>Drone</th>
        <th>3 Days</th>
        <th>6½ days </th>
        <th>10 days</th>
        <th>14½ days</th>
        <th>24 days</th>
        <th>approx. 38 days</th>
        <th>15-17 mm</th>
        <th>nearly 200 mg</th>
      </tr>
    </table>
    <p>Drones will die off or are ejected from the hive by the worker bees in
      late autumn, and do not reappear in the bee hive until late spring.</p>
    <p>Drones are characterized by eyes that are twice the size of those of
      worker bees and queens and a body size greater than that of worker bees,
      though usually smaller than the queen bee.</p>
    <p>The drones' main function is to be ready to fertilize a receptive queen.
      Drones in a hive do not usually mate with a virgin queen of the same hive
      because they drift from hive to hive. Mating generally takes place in or
      near drone congregation areas. It is poorly understood how these areas are
      selected, but they do exist. When a drone mates with his sister, the
      resultant queen will have a spotty brood pattern numerous empty cells on a
      brood frame. This is due to the removal of diploid drone larvae by nurse
      bees , a fertilized egg with two identical sex genes will develop into a
      drone instead of a worker. Mating occurs in flight, which accounts for the
      need of the drones for better vision, which is provided by their large
      eyes. Should a drone succeed in mating he soon dies because the genitalia
      and associated abdominal tissues are ripped from the drone's body after
      sexual intercourse. Honeybee queen breeders may breed drones to be used
      for artificial insemination or open mating. A queen mating yard must have
      many drones to be successful.In areas with severe winters, all drones are
      driven out of the hive in the autumn. A colony begins to rear drones in
      spring and drone population reaches its peak coinciding with the swarm
      season in late spring and early summer. The life expectancy of a drone is
      about 90 days.</p>
  </div>
  <div id="afb" *ngIf="isDivVisible('afb')">
    <h2>American Foul Brood (AFB)</h2>
    <h3>What Is It?</h3>
    <p>American Foulbrood is a small bacterium that is only visible under a high
      powered microscope. It gets in the bee larvae system and takes their
      nutrition and the bees die of lack of food.</p>
    <img src="4.jpg" style="width:600px;height:500px;">
    <h3>The Cause</h3>
    <p>American Foulbrood gets into the larvae when they ingest small spores of
      the bacterium. The spores germanate (spread) in the bees gut.</p>
    <h3>The Symptoms</h3>
    <p>'Pepper Pot' brood pattern
      darkened cell cappings
      ropeing/sticky larvae remains
      dark scales that are hard to remove from the cells</p>
    <img src="5.gif">
    <p>What Will Happen To the Hive</p>
    <p>The hive will start to break down due lack of resources then robber bees
      will steal there remaining resouces and the bees will die off.</p>
    <h3>How to Stop It</h3>
    <p>You cant really stop it if this happens to your hive. You have to burn
      the
      frames wih AFB or the whole hive.</p>
    <p>Also if your hive has AFB you should bury your hive.</p>
    <p>In addition if your hive has AFB you should contact your state
      apiarist</p>
    <img src="6.gif">
    <h3>How to Find it</h3>
    <p>If you shine a black light over your hive the foulbrood will glow a
      greenish blue color. Ropy slimy larvae remains are in the cells and you
      pull
      it out with a tooth pick or end of a match.</p>
    <img src="7.png">
  </div>
  <div id="efb" *ngIf="isDivVisible('efb')">
    <h2>European Foul Brood (EFB)</h2>
    <h3>The Pest/Disease/ Problem</h3>
    <p>The European Foul Brood is a bacteria desease that effects honey bee
      larvae before the capped stage.</p>
    <p>The bacteria that causes EFB does not produce spores, but combs
      contaminated with the bacteria can still effect honey bees in later years.
      Depending on the level of infection, and possibly the amount of available
      food, the infected larva will either live or die. If the bee lives it will
      leave bacteria on the combs that can be infective for years.</p>
    <img src="8.jpg">
    <img src="9.jpg">
    <img src="10.jpg">
    <h3>Cause</h3>
    <p>Larvae becomes infected with European foulbrood when they consume brood
      food that contains the bacteria Melissococcus pluton. There is also some
      evidence that transmission may occur from bites of a mite called varroa
      mite. The degree of severeness is measured by how much of the bacteria was
      fed to the larva. Larvae were found to be more likely to die as increasing
      amounts of bacteria were fed.</p>
    <h3>Symptoms</h3>
    <p>They may give the appearance of having become restless and wandered
      around
      in the cell. Their gut line, instead of being the normal medium
      yellow/orange color, may have a bleached, chalky white appearance. These
      white patches could be bacteria in the gut. When infected they change
      colour
      from a healthy, pearly white, to yellow and through to brown. They also
      dry
      out to a loose scale that is easily removed by the house bees. Some pupae
      and pre-pupae may also be dead in sealed cells and the cappings of these
      cells are likely to be dark, sunken and perforated.</p>
    <p><b>Look for these symptoms:</b></p>
    <ul>
      <li>Erratic or uneven brood pattern</li>
      <li>Twisted larvae with creamy-white guts visible through the body
        wall</li>
      <li>Melted down, yellowy white larvae</li>
      <li>An unpleasant sour odour</li>
      <li>Loosely-attached brown scales</li>
    </ul>
    <img src="11.jpg">
    <h3>Damage to the hive</h3>
    <p>The organism becomes mixed with the brood food fed to the young larva by
      the nurse bees, multiplies rapidly within the gut of the larva, and causes
      death within about 4 days after egg hatch. House bees cleaning out the
      dead
      larvae from the cells distribute the organism throughout the hive. Since
      the
      honey of infected colonies and the beekeeper's equipment are undoubtedly
      contaminated, subsequent spread of the disease is accomplished by robber
      bees, exposure of contaminated honey by the beekeeper, interchange of
      contaminated equipment among colonies, and perhaps, to some extent, by
      drifting bees.</p>
    <img src="12.jpg">
    <h3>How can we Fix this Problem</h3>
    <p>Samples of honey were extracted up to 12 weeks after treatment and used a
      method of application of Terramycin.</p>
    <p>Shook swarm method in combination ofoxytetracycline (OTC) and compared
      with those treated with OTC alone, the usual treatment for EFB. The
      treatments had the same success rates Shook swarm plus OTC treatment
      resulted in a lower level of EFB</p>
    <img src="13.jpg">
    <p>This is "Bee guard" it will help cure the European Foulbrood</p>
    <h3>What can we do to prevent it from happening:</h3>
    <ul>
      <li>Keep robber bees out of the hive</li>
      <li>Don't let the bees eat brood food</li>
    </ul>
  </div>
  <div id="cb" *ngIf="isDivVisible('cb')">
    <h2>Chalkbrood</h2>
    <h3>The Disease</h3>
    <p>Chalkbrood kills the brood of the honeybee by fungal spores infecting the
      gut of the larvae, and eventually kills all the brood if not disposed
      properly. It kills them by consuming the body, it then grows white hair,
      called mycelia, which hardens and becomes a hard mummy-like brood on the
      bottom of the hive. It is on the increase throughout the world.</p>
    <img src="14.jpg">
    <h3>What is the cause?</h3>
    <p>The cause is the fungus Ascosphaera apis. It spreads through the broods
      food, and eventually gets larger. The fungus starts in the soil, and any
      litter, and can go up through the crop, which the brood consume. The
      fungus
      is ingested into the brood during feeding, and then effects its guts, and
      soon, engulfs the body.</p>
    <img src="15.jpg">
    <h3>What are the symptoms?</h3>
    <p>Some symptoms of this disease are larvae that are white and moldy, hard,
      and white grey/black mummies in cells on the floor, or in the front of the
      hives. These symptoms are commonly found in a Chalkbrood infested hive.
      You
      can diagnose this fungus by looking at the entrance, in some cases.</p>
    <img src="16.jpg">
    <h3>What damage will occur to the hive? (What should we look for?)</h3>
    <p>The larvae will grow a white fungal fluff called mycelia. The cap of the
      cells are brighter than normal, and don't cover the whole cell. When the
      larvae are infected, they will get harder and harder until they are dried
      out. Also, the adult bees take the larvae out of the cell and bring the
      white/gray mummies to the floor of the hive or outside of the hive.</p>
    <img src="17.jpg">
    <h3>What can we do to control / fix this problem?</h3>
    <p>To control/fix this problem here are some simple steps: 1.Clean out all
      of
      the infected brood, inside or outside the hive. 2.Wreck infected
      combs/cells
      that Chalkbrood was in. 3.Air out the hive. 4.Feed all disease free
      supplements. 5.If case is bad enough, re-queen the hive. 6.Use clean hive
      tools next time you interact with it, just incase the old tools are
      infected. 7.Treat with a Chalkbrood killer.</p>
    <img src="18.jpg" style="width: 400px;height: 588px;">
  </div>
  <div id="sb" *ngIf="isDivVisible('sb')">
    <h2>Stonebrood</h2>
    <h3>Description</h3>
    <p>Stonebrood is a fungal disease caused by Aspergillus fumigatus,
      Aspergillus flavus and Aspergillus niger. It causes mummification of the
      brood of a honey bee colony. The fungi are common soil inhabitants and are
      also pathogenic to other insects, birds and mammals.</p>
    <p>The disease is difficult to identify in the early stages of
      infection.</p>
    <p>The spores of the different species have different colours and can also
      cause respiratory damage to humans and other animals. When a bee larva
      takes
      in spores they may hatch in the gut, growing rapidly to form a collarlike
      ring near the head. After death the larvae turn black and become difficult
      to crush, hence the name stonebrood. Eventually the fungus erupts from the
      integument of the larva and forms a false skin. In this stage the larvae
      are
      covered with powdery fungal spores. Worker bees clean out the infected
      brood
      and the hive may recover depending on factors such as the strength of the
      colony, the level of infection, and hygienic habits of the strain of bees
      there is variation in the trait among different subspecies/races. Stone
      Brood is a Disease that takes over bees in the Honey Comb by eating them
      and
      takes the over the food storage that the worker bees make.</p>
    <h3>Solution</h3>
    <p>Stonebrood is not regarded as a serious disease in normal circumstances,
      its effects on the colony being only slight. It is generally present in
      the
      majority of colonies at some point in time and can be present in its spore
      stage without affecting the colony. However, colonies that are already
      weakened by other circumstances may suffer to a greater extent and
      especially in early spring.</p>
  </div>
  <div id="vm" *ngIf="isDivVisible('vm')">
    <h2>Varroa Mites</h2>
    <p>Varroa mites like to breed in capped cells that bees are birthed in as
      this is the only place they can reproduce.</p>
    <img src="19.jpg">
    <p>They carry many dangerous diseases and cause current diseases to be more
      powerful.</p>
    <img src="20.jpg">
    <h3>1 Describe the pest/disease/problem.</h3>
    <p>The Varroa mite is an external mite that clings to other bees and kills
      them. It kills them by sucking their blood. Also it can spread a disease
      called Varroosis. The Varroa mite is an external mite that clings to other
      bees and kills them. It kills them by sucking their blood</p>
    <h3>2 What is the cause?</h3>
    <p>Varroa mites can only reproduce in a bee hive. I addition, bees can
      nourish varroa mites incredibly, as the mites are a parasite.</p>
    <h3>3 What are the symptoms?</h3>
    <p>Varroa mites look like bee sized ticks to the eye, however, earlier signs
      of varroa mites include abnormal brood pattern, sunken and chewed
      cappings,
      and larvae slumped in the bottom or side of their cell.</p>
    <h3>4 What damage will occur to the hive? (What should we look for?)</h3>
    <p>Some damage will be loss of honey bee lives. As previously said, varroa
      mites can only breed in hives, which means that quickly your entire hive
      will be infected with varroosis, the most common varroa mite disease. This
      is because of the necessity of hives to the varroa mites as a species.</p>
    <h3>5 What can we do to control / fix this problem?</h3>
    <p>A new idea is the advanced technology Varroa Gate. to fix this
      problem</p>
  </div>
  <div id="no" *ngIf="isDivVisible('no')">
    <h2>Nosema</h2>
    <h3>What is it?</h3>
    <p>Nomema or Nosemosis is a disease that comes from the fungus Nosema
      Apis.It
      infects bees when they eat Nosema Apis spores.</p>
    <h3>The Cause</h3>
    <p>The first bee to get the disease has to eat a Spore of Nosemosis to gain
      the disease Once a bee is infected with Nosemosis, a lot of other bees
      will
      be infected when that first bee shares their food.</p>
    <h3>The Symptoms</h3>
    <p>Some symptoms include:</p>
    <ul>
      <li>An ejected queen</li>
      <li>Less honey production rate</li>
      <li>A diminishing population</li>
    </ul>
    <h3>What will happen to the Hive</h3>
    <p>The disease affects the length of the bee's life. Workers are the most
      susceptible due to their duties around the hive. If the queen she has a
      suppressed egg-laying rate with the organ that lays the eggs wasting away.
      The infected queen is then replaced by other bees. If not treated, the
      queen
      is ejected and the population diminishes.</p>
    <h3>The Solution</h3>
    <p>The spores are sensitive to:</p>
    <ul>
      <li>Ultrasonic and Gamma radiation</li>
      <li>The chemicals acetic acid and formaldehyde</li>
      <li>Treatment in a heat chamber at 39C (120F) for 24 hours</li>
    </ul>
  </div>
</main>

<router-outlet />